:root {
    --primary-01: #3a3d43;
    --primary-02: #232428; /*sec btn backs*/
    --primary-03: #50555e;
    --primary-04: #676d79;
    --primary-05: #818793;
    --primary-06: #9ea2aa;
    --secondary-01: #2d69ec;
    --secondary-02: #00091e;
    --accent: #9ea2aa;
    --text: #f0f2f4;
    --container-padding: .5em;
}

.company-story {
    height: 70vh;
    display: grid;
    align-content: center;
}

.company-story h2 {
    text-align: center;
    font-size: 5rem;
}

.company-story p {
    text-align: center;
    font-size: 1.3rem;
}

.company-mission-statement {
    height: 70vh;
    display: grid;
    align-content: center;
    background-color: var(--primary-03);   
}

.company-mission-statement h2 {
    text-align: center;
    font-size: 5rem;
    background-color: var(--primary-03);   

}

.company-mission-statement p {
    text-align: center;
    font-size: 1.3rem;
    background-color: var(--primary-03);   

}

.company-team {
    height: 70vh;
    background-color: var(--primary-04);
    display: grid;
    align-items: center;
}

.company-team h2 {
    text-align: center;
    background-color: var(--primary-04);
    font-size: 3rem;
}

.company-team ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    background-color: var(--primary-04);
    padding: 1em;
}

.company-team li {
    padding: 1em;
    border-radius: .5em;
}

.company-team p {
    padding: .3em 0;
    font-weight: 100;
}

.company-team span {
    font-weight: 600;
}

.company-about-stats {
    height: 70vh;
    background-color: var(--primary-05);
    display: grid;
    align-items: center;
}

.company-about-stats h2 {
    text-align: center;
    font-size: 3rem;
    background-color: var(--primary-05);
}

.company-about-stats ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em 0;
    background-color: var(--primary-05);
    flex-wrap: wrap;
    position: relative;
    bottom: 13vh;
    padding: 0 0 0 15vw;
}

.company-about-stats li {
    padding: 1em;
    width: 15vw;
    height: 15vh;
    border-radius: .5em;
}

.company-about-stats p {
    text-align: center;
}

.company-about-stats span {
    font-size: 3rem;
}

.company-values {
    height: 70vh;
    background-color: var(--primary-06);
    display: grid;
    align-items: center;
}

.company-values h2 {
    text-align: center;
    font-size: 5rem;
    background-color: var(--primary-06);
}

.company-values p {
    background-color: var(--primary-06);
    text-align: center;
    font-size: 1.3rem;
    padding: 0 0 2em 0;
    /* position: relative;
    bottom: 10vh; */
}

.company-values span {
    background-color: var(--primary-06);

}



