.company-story p {
    line-height: 2em;
}

.company-mission-statement p {
    line-height: 2em;
}

.company-team {
    height: fit-content;
}

.company-team ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
}

.company-team li {
    flex: 1;
    background-color: var(--primary-06);
    padding: 1em;
    border-radius: .3rem;
}

.company-team li:hover {
    box-shadow: var(--on-hover) var(--primary-02);
}

.company-team p {
    background-color: var(--primary-06);
    padding: .5em;
    display: flex;
    justify-content: space-between;
}

.detail-title {
    background-color: var(--primary-06);
    padding-right: .3em;
    font-weight: 600;
}

.company-about-stats {
    height: fit-content;
}

.company-about-stats ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.company-about-stats li {
    flex: 1;
    background-color: var(--primary-06);
    padding: 1em;
    border-radius: .3rem;
}

.company-about-stats li:hover {
    box-shadow: var(--on-hover) var(--primary-02);
}

.company-about-stats p {
    background-color: var(--primary-06);
    max-width: 10rem;
}

.company-about-stats span {
    background-color: var(--primary-06);
    font-size: 4rem;
}

.company-values ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.company-values span {
    font-weight: 600;
    padding-right: 2em;
}

@media screen and (min-width: 768px) {
    .company-story p {
        max-width: 50rem;
        font-size: 1.3rem;
    }

    .company-team ul {
        flex-direction: row;
        width: 50rem;
    }

    .company-about-stats ul {
        flex-direction: row;
        max-width: 50rem;
    }

    .company-values p {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1024px) {
    .company-team ul {
        flex-direction: row;
        width: 60rem;
    }
}


