.contact-header {
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem;
    gap: 1rem;
}

.contact-header h2 {
    text-align: center;
    line-height: 2rem;
    font-size: 2rem;
}

.contact-header p {
    text-align: center;
    line-height: 2rem;
}

.feature-contact-information {
    height: fit-content;
}

.feature-contact-information h2 {
    /* font-size: 2rem; */
}

.feature-contact-information ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.feature-contact-information li {
    background-color: var(--primary-06);
    padding: 1em;
    border-radius: .3rem;
}

.feature-contact-information h3,
.feature-contact-information p ,
.feature-contact-information a {
    background-color: var(--primary-06);
    line-height: 2rem;
}

.feature-contact-information span {
    background-color: var(--primary-06);
    font-weight: 600;
}

.contact-form {
    height: fit-content;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

fieldset {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: var(--primary-06);
    border: none;
    border-radius: .3rem;
}

legend {
    background-color: var(--primary-06);
    padding: 1em;
    border-radius: .3rem;
}

label {
    background-color: var(--primary-06);
    font-size: 1rem;

}

input {
    border: none;
    border-radius: .3rem;
    height: 2rem;
    padding: 0 1rem;
    color: var(--text);
}

input::placeholder {
    color: var(--text);
}

select {
    border: none;
    border-radius: .3rem;
    height: 2rem;
    padding: 0 1rem;
}

textarea {
    border: none;
    border-radius: .3rem;
    height: 8rem;
    padding: 1rem;
    color: var(--text);
}

textarea::placeholder {
    color: var(--text);
}

.preferrences-fieldset label {
    font-size: .7rem;
    background-color: var(--secondary-02);
}

.preferrences-fieldset p {
    background-color: var(--secondary-02);
}

.preferrences-fieldset div {
    border-radius: .3rem;
}

.preferred-contact-method {
    padding: 1em;
}

.preferred-contact-method div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.best-time-to-contact {
    padding: 1em;
}

.best-time-to-contact div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.newsletter-subscription {
    padding: 1em;
}

.newsletter-subscription div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.terms-agreement {
    padding: 1em;
}

.terms-agreement div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.button-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.button-container button:hover {
    box-shadow: var(--on-hover) var(--primary-02);
}

.reset-button {
    border: .1em solid var(--primary-06);
    background-color: transparent;
}

.office-locations ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.office-locations li {
    padding: 1em;
    border-radius: .3rem;
    background-color: var(--primary-06);
    display: flex;
    flex-direction: column;
}

.office-locations div {
    background-color: var(--primary-06);
    padding: .2em;
}

.office-locations h3, .office-locations p, .office-locations b {
    background-color: var(--primary-06);
    line-height: 2rem;
}

.quick-actions-contact ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.quick-actions-contact li {
    padding: 1em;
    background-color: var(--primary-06);
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.quick-actions-contact li:hover {
    box-shadow: var(--on-hover) var(--primary-02);
}

.quick-actions-contact a {
    text-align: center;
    padding: .5em;
    border-radius: .3rem;
}

.quick-actions-contact p {
    background-color: var(--primary-06);
}

.slider-container input {
    padding: unset;
}

@media screen and (min-width: 768px) {
    .feature-contact-information ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .feature-contact-information li {
        width: 17rem;
    }

    .office-locations ul {
        flex-direction: row;
    }

    .quick-actions-contact ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .quick-actions-contact li {
        max-width: 20rem;
    }
}




