:root {
    --primary-01: #3a3d43;
    --primary-02: #232428; /*sec btn backs*/
    --primary-03: #50555e;
    --primary-04: #676d79;
    --primary-05: #818793;
    --primary-06: #9ea2aa;
    --secondary-01: #2d69ec;
    --secondary-02: #00091e;
    --accent: #9ea2aa;
    --text: #f0f2f4;
    --container-padding: .5em;
}

.contact-header {
    height: 70vh;
    margin-top: 35vh;
}

.contact-header h1 {
    text-align: center;
    font-size: 4rem;
}

.contact-header h2 {
    text-align: center;
    font-size: 3rem;
}

.contact-header p {
    text-align: center;
    font-size: 1.3rem;
    background-color: var(--primary-01);
}

.feature-contact-information {
    height: 70vh;
    background-color: var(--primary-03);
    display: grid;
}

.feature-contact-information h2 {
    text-align: center;
    background-color: var(--primary-03);
}

.feature-contact-information h2 span {
    background-color: var(--primary-03);
}

.feature-contact-information ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--primary-03);
    gap: 1em;
    padding: 1em;
}

.feature-contact-information li {
    background-color: var(--primary-02);
    padding: 1em;
    border-radius: .5em;
}

.feature-contact-information h3 {
    background-color: var(--primary-02);
    padding: 1em;
}
.feature-contact-information p {
    background-color: var(--primary-02);
    padding: 1em;
}

.feature-contact-information p span {
    background-color: var(--primary-02);
}

.feature-contact-information a {
    background-color: var(--primary-02);
}

/* .contact-form {
    display: block;
}*/

form {
    padding: 2em;
} 

form h3 {
    text-align: center;
}

fieldset {
    display: grid;
    margin: 2em auto;
    background-color: var(--primary-02);
    place-content: center;
    padding: 1.5em;
    border: none;
    border-radius: .5em;
}

legend {
    background-color: var(--primary-02);
    padding: 1em;
    border-radius: .5em;
}

form label {
    width: 50vw;
    margin: 1.5em 0 1em 0;
    background-color: var(--primary-02);
}

form input {
    width: 50vw;
    background-color: var(--accent);
    border: none;
    padding: .7em 1.5em;
    border-radius: .5em;
    color: var(--text);
}

form input::placeholder {
    color: var(--text);
}

form select {
    width: 50vw;
    background-color: var(--accent);
    border: none;
    padding: .7em 1.5em;
    border-radius: .5em;
}

form textarea {
    width: 50vw;
    background-color: var(--accent);
    border: none;
    padding: .7em 1.5em;
    border-radius: .5em;
    color: var(--text);
}

form textarea::placeholder {
    color: var(--text);

}

.preferred-contact-method div {
    background-color: var(--primary-02);
}

.best-time-to-contact div {
    background-color: var(--primary-02);
}

.newsletter-subscription {
    background-color: var(--primary-02);
}

.terms-agreement {
    background-color: var(--primary-02);
}

.button-container {
    padding: 1em;
    display: flex;
    gap: 1em;
    place-content: center;
}

.button-container button {
    padding: 1em;
    border: none;
    border-radius: .5em;
}

.submit-button {
    background-color: var(--secondary-01);
}

.reset-button {
    background-color: var(--primary-02);
}


.office-locations {
    height: 70vh;
    background-color: var(--primary-05);
    padding: 10rem 0;
    margin: 0 auto;
    width: 100%;
}

.office-locations h2 {
    background-color: var(--primary-05);
    font-size: 4rem;
    text-align: center;
}

.office-locations ul {
    list-style: none;
    display: flex;
    padding: 1em;
    place-content: center;
    gap: 1em;
    background-color: var(--primary-05);
}

.office-locations li {
    padding: 1em;
    border-radius: .5em;
    background-color: var(--primary-02);
}

.office-locations h3, p, b {
    background-color: var(--primary-02);
}

.quick-actions-contact {
    background-color: var(--primary-06);
    height: 70vh;
    padding: 10rem 0;
    margin: 0 auto;
    width: 100%;
}


.quick-actions-contact h2 {
    font-size: 4rem;
    background-color: var(--primary-06);
    text-align: center;
    display: grid;
    align-items: center;
}

.quick-actions-contact ol {
    margin-top:  2rem;
    list-style: none;
    display: flex;
    padding: 1em;
    gap: 1em;
    background-color: var(--primary-06);
}

.quick-actions-contact li {
    flex: 1;
    background-color: var(--primary-02);
    height: fit-content;
    padding: 1.5em 1em 1em 1em ;
    border-radius: .5em;
}

.quick-actions-contact a {
    background-color: var(--secondary-01);
    padding: .7em;
    border-radius: .5em;
}

.quick-actions-contact p {
    padding: 1.5em 0;
    background-color: var(--primary-02);
}



