
.header-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header p {
    font-size: 1.3rem;
    line-height: 2.6rem;
}

.tagline {
    font-weight: 700;
    padding: 1rem 0;
    margin: 1rem auto;
}

.call-to-action .secondary {
    background-color: transparent;
    border: .1rem solid var(--primary-06);
}

.services-section {
    gap: 1em;
}

.services {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.service-container {
    background-color: var(--primary-06);
    border-radius: .3rem;
    padding: .5em;
}

.service-container:hover 
{
    box-shadow: var(--on-hover) var(--primary-02);
}

.service-title,.service-description {
    background-color: var(--primary-06);
}

.stats-section {
    gap: 1em;
    height: fit-content;
}

.stats {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.stat-container {
    background-color: var(--primary-06);
    padding: .5em;
    border-radius: .3rem;
}

.stat-container:hover {
    box-shadow: var(--on-hover) var(--primary-02);
}

.stat-container p {
    background-color: var(--primary-06);
}

.stats span {
    font-size: 3rem;
    background-color: var(--primary-06);

}

@media screen and (min-width: 768px) {
    .services-section ul {
        flex-direction: row;
    }

    .stats {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .tagline {
        font-size: 1.5rem;
    }

    .service-container {
        max-width: 20rem;
    }

    .stat-container {
        width: 15rem;
    }
}

