:root {
    --primary-01: #3a3d43;
    --primary-02: #232428; /*sec btn backs*/
    --primary-03: #50555e;
    --primary-04: #676d79;
    --primary-05: #818793;
    --primary-06: #9ea2aa;
    --secondary-01: #2d69ec;
    --secondary-02: #00091e;
    --accent: #9ea2aa;
    --text: #f0f2f4;
    --container-padding: .5em;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    background-color:var(--primary-01);
    color: var(--text);
    font-family: 'Lexend Deca';
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

a {
    text-decoration: none;
}

span {
    font-weight: 550;
}

nav {
    background-color: var(--secondary-02);
    font-size: .7rem;
    line-height: 10vh;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 13vh;
    padding: .5rem;
}

nav > img {
    padding: 0 .5em;
    width: 100px;
    background-color: var(--secondary-02);
}

.nav-menu {
    background-color: var(--secondary-02);
    padding: 0 1rem;
    height: 5vh;
    display: inline-flex;
    justify-content: space-evenly;
}

.nav-menu a {
    padding: 0 .7rem;
    background-color: var(--secondary-02);
    display: flex;
    align-items: center;
    height: inherit;
}

.breadcrumb {
    display: flex;
    justify-content: space-around;
    height: 5vh;
    line-height: 5vh;
    width: 100vw
} 

.breadcrumb div {
    width: inherit;
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
}

footer {
    background-color: var(--secondary-02);
    min-height: 34.3vh;
}

footer  a {
    color: var(--secondary-01);
    background-color: var(--secondary-02);
    width: 100vw;
}

footer li {
    /* padding: 1rem 0; */
    background-color: var(--secondary-02);
}

.company-information p {
    background-color: var(--secondary-02);
    color: #F3F4F6;
}

.company-information h2 {
    background-color: var(--secondary-02);
    color: #F3F4F6;
    text-align: center;
}

.company-information span {
    background-color: var(--secondary-02);
    color: #F3F4F6;
}

.co-copy-right {
    font-weight: bold;
    padding: .5em;
    font-size: 1.3rem;
    position: relative;
    top: 27vh;
}

.company-contact {
    background-color: var(--secondary-02);
}

.company-contact > ul {
    list-style: none;
}

@media screen and (min-width: 768px) {
    nav {
        background-color: var(--secondary-02);
        font-size: 1rem;
        line-height: 10vh;
        display: flex;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        padding: .5rem;
    }

    nav > img {
        padding: 0 .5em;
        width: 100px;
        background-color: var(--secondary-02);
    }

    .nav-menu {
        background-color: var(--secondary-02);
        padding: 0 1rem;
        height: 5vh;
        display: inline-flex;
        justify-content: space-evenly;
    }

    .nav-menu a {
        padding: 0 .7rem;
        background-color: var(--secondary-02);
        display: flex;
        align-items: center;
        height: inherit;
    }

    .breadcrumb {
        display: flex;
        justify-content: space-around;
        height: 5vh;
        line-height: 5vh;
        width: 100vw
    } 

    .breadcrumb div {
        border: 1px solid white;
        width: inherit;
        display: flex;
        gap: 1rem;
        padding: 0 1rem;
    }

    footer li {
        padding: 1rem 0;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        background-color: var(--secondary-02);
        font-size: 1.2em;
        line-height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        flex-wrap: wrap;
    }

    nav > img {
        padding: 0 1em;
        width: 200px;
        background-color: var(--secondary-02);
    }

    nav > div {
        padding: 0 1rem;
    }

    .current-page {
        color: var(--secondary-01);
        border-bottom: .2em solid var(--secondary-01);
    }

    .nav-menu {
        background-color: var(--secondary-02);
    }

    .nav-menu a {
        padding: 0 .7rem;
        background-color: var(--secondary-02);
    }

    .breadcrumb {
        height: 5vh;
        padding: 0 3.5em;
        line-height: 5vh;
    }

    footer li {
        padding: 1rem 0;
    }
}

